/build/output
/build/CMakeFiles
/build/CMakeCache.txt
/build/codex*
/build-codex*
/docs
*.md
/thirdparty/*
!/thirdparty/rtspServer/
/thirdparty/rtspServer/*
!/thirdparty/rtspServer/inc/
/thirdparty/rtspServer/inc/*
!/thirdparty/rtspServer/inc/rtsp_server_api.h
!/thirdparty/datachannel/
/test
!/test/
/test/*
!/test/webRTC/
!/test/webRTC/*
